html,
body{
  overflow-x: hidden;
  background-color: #282828!important;
  color: #fff!important;
}

#player{

}

#player video{
    width: 100%;
    outline: none;
}

#player-container{
  background-color: #fff;
  padding: 10px;
}

#tool-bar{
  background-color: #000;
  padding: 10px;
  font-size: 25px;
}

#tool-bar i{
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}
